*.class
*.log
.ijwb/
.idea/
bazel-bin
bazel-out
bazel-testlogs
bazel-**-bazel

# sbt specific
.cache
.cache-*
.sbtserver/
**/*.log.*/*
.sbtserver
.sbtserver*
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
