@(contacts:Seq[Contact])(implicit flash: Flash)

@main("Contacts") {

  <p><a href="@routes.ContactController.blank" class="btn btn-success"><i class="icon-plus icon-white"></i> Add Contact</a></p>

  @if(!contacts.isEmpty) {
    <table class="table table-striped">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Company</th>
        <th></th>
      </tr>
    @for(contact <- contacts) {
      <tr>
        <td><a href="@routes.ContactController.details(0)">@contact.firstname</a></td>
        <td>@contact.firstname</td>
        <td>@contact.lastname</td>
        <td>
          <form method="post" action="@routes.ContactController.delete(0)">
            <button class="btn btn-link" type="submit"><i class="icon-trash"></i> Delete</button>
          </form>
        </td>
      </tr>
    }
    </table>
  }
}