@(id: Option[Long],contact:Form[Contact])(implicit flash:Flash)

@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("Contact: " + contact("firstname").value.getOrElse("")) {

	 @if(contact.hasErrors) {
		   <div class="alert alert-error">
		     <button type="button" class="close" data-dismiss="alert">&times;</button>
		     Please fix the validation errors.
		   </div>
	 }

	@helper.form(action = if (id.isDefined) routes.ContactController.update(id.get) else routes.ContactController.insert()) {
	@helper.inputText(contact("firstname"), '_label -> "First Name")
	@helper.inputText(contact("lastname"), '_label -> "Last Name")
	@helper.inputText(contact("company"), '_label -> "Description")
	
		<div class="form-actions">
		  <button type="submit" class="btn btn-primary">
		    @if(id.isDefined) { Update Contact } else { New Contact }
		  </button>
		</div>
	}

}
